body,
#search,
.card {
  background-color: rgb(24, 24, 24);
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

#search {
  padding-top: 100px;
}

.navbar-brand {
  display: flex;
  gap: 10px;
}

.btn {
  background-image: linear-gradient(
    70deg,
    hsl(0deg 100% 53%) 0%,
    hsl(12deg 100% 52%) 59%,
    hsl(18deg 100% 51%) 100%
  );
  color: white;
}
.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    70deg,
    hsl(0deg 100% 53%) 0%,
    hsl(12deg 100% 52%) 59%,
    hsl(18deg 100% 51%) 100%
  );
}

.nav-logo {
  filter: invert(100%) saturate(100%) brightness(98%);
}

.bi {
  z-index: 100;
}
.link {
  color: white;
}

.link:hover {
  color: white;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: none;
  border-radius: 2px;
  background-color: rgb(37, 37, 37);
}

.thumbnail {
  max-width: 20rem;
  margin-top: 20px;
  border-radius: 2px;
}

.card-text {
  margin-top: 10px;
}
.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 20rem;
}
a {
  color: rgb(239, 0, 0);
}

.btn {
  position: relative;
  height: 40px;
}

p {
  margin: 0;
}

#loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-top: 3px solid rgb(24, 24, 24);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
