body,
#search,
.card {
  background-color: rgb(24, 24, 24);
  font-family: "Poppins", sans-serif;
  color: white;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: none;
}

.img-fluid {
  width: 20rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
a {
  color: rgb(239, 0, 0);
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#loader {
  position: absolute;
  display: none;
  right: 20px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid rgb(24, 24, 24); /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
